@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@source "../views";

/* Fonte */


@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.oxanium {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


/* Paleta de Cores
Laranja: #ff501a
Azul: #1c1c6b
Preto: #151516
Branco: #ededf2
*/

/* h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
 */

h1 {
    font-family: 'Oxanium', sans-serif;
}

.titulo {
    font-family: 'Oxanium', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #1c1c6b;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #151516;
}

label {
    font-family: 'Work Sans', sans-serif;
}

input,
button {
    font-family: 'Work Sans', sans-serif;
    color: #151516;
}

a {
    font-family: 'Work Sans', sans-serif;
    color: #4f4f52;
    font-weight: 400;
}
